.footer {
  padding: 2rem 6rem;
  background: #2f3f68;
  color: #fff;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.top h1 {
  font-weight: normal;
}

.top i {
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}



.bottom {
  padding-top: 1rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.1rem;
  padding: 1rem 0 0.8rem 0;
  font-weight: normal;
  text-decoration: underline;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}


.go-top {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #233565;
  border-radius: 3px;
  color: #fff;
  border: 0;
}

.go-top:before {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  content: '';
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -6px;
}

.go-top:hover {
  background: #2b417c;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }

  .bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.3rem;
  }

  .bottom h4 {
    font-size: 1.4rem;
    padding: 1rem 0 0.8rem 0;
  }
}
